# Outputs / generated data

outputs/
outputs for 2D slice/
Results/
NEW MVPA results/
Figures/
SPM/
MVPA BAS1/

# Neuroimaging files

*.nii
*.nii.gz
*.img
*.hdr

# Python cache
__pycache__/
*.pyc

# Virtual environments

mvpa_env/
.venv/
env/

# Documents*
# If my plan is to keep thesis/figures in repo, REMOVE these:
*.pdf
*.docx
*.pptx

# OS / editor

.DS_Store
Thumbs.db
.vscode/
